<!DOCTYPE html>
<html>
<head>
	<title>New Yorker Fiction Scraper</title>
</head>
<body>
	<h1>Fiction Scraper</h1>
	<% if(allstory.length > 0){ %>
		<div>
			<% for(var i = 0; i<allstory.length; i++){ %>
				<div>
					<p>Title: <%= allstory[i].title %></p>
					<p>Summary: <%= allstory[i].summary %></p>
					<p><a href="<%= allstory[i].link %>">Story Link</a></p><br>
				</div>
		<%	} %>
		</div>
	<% } %>
	<form method="POST" action="/scrape">
		<button type="submit">Click here to load new short stories!</button>
	</form>
</body>
</html>